@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
    font-family: "Honk", serif !important; 
    font-family: "DM Sans", serif !important;
*/

body {font-family: "DM sans", serif !important;background: #efefef; }
h1,h2,h3,h4,h5,h6 {font-family: "Poppins", serif !important;}

.navbar-brand img { height: 30px; margin-top: -10px; }
.navbar-brand { font-weight: bold; letter-spacing: -1px; }
.introduction-sec .content-sec {text-align: center;padding: 50px;border: 1px solid #ededed;border-radius: 20px;background: #fff;}
.introduction-sec { margin: 3% 0; }
.introduction-sec .content-sec h1 {font-weight: 600;letter-spacing: -3px;font-size: 2.5rem;color: #000000;}
.introduction-sec .content-sec h2 {font-family: "Honk", serif !important;}
.introduction-sec .content-sec img { height: 60px; }
.navbar-light .navbar-nav .nav-link { font-family: 'DM sans'; font-weight: bold; letter-spacing: -1px; font-size: 1.2rem; }
.navbar-light .navbar-nav .nav-link.active { text-decoration: underline; }


section.models-section .first-model { padding: 30px; border: 1px solid; border-radius: 20px; margin: 50px 0; }
section.models-section .content-sec { text-align: center; margin-bottom: 50px; }
section.models-section .content-sec h2 { font-size: 2rem; font-weight: 700; letter-spacing: -2px; }
section.models-section .first-model h2 { font-size: 1.5rem; font-weight: 700; letter-spacing: -1px; }
section.models-section .first-model .process h3 { font-size: 1.5rem; font-weight: 700; letter-spacing: -1px; }

section.models-section .first-model .process ul{
    padding: 0;
    list-style: none;
}
section.models-section .first-model .process ul li{
    border-bottom: 1px solid #888888;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.border-none{border:none !important;}